<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Bank Notes Authenticator</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='notes.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">NOTES AUTHENTICATOR</span></h2>
            <div class='description'>
    			<p>Please fill the designated parameters and click on Predict option to check whether you might be having Fake Notes or Real Note</p>
    		</div>
    	</div>
        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" name="variance" placeholder="variance eg. 3.45660"><br>
		<input class="form-input" type="text" name="skewness" placeholder="skewness eg.-4.4552"><br>
                <input class="form-input" type="text" name="curtosis" placeholder="curtosis eg.-2.4586"><br>
                <input class="form-input" type="text" name="entropy" placeholder="entropy eg. 0.10645"><br>
               
        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/divyansh1195"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="linkedin.com/in/divyansh-mathur-229190155/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>© Divyansh Mathur 2020</p>
       </div>

    </body>
</html>
